

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="links">
    <a href="https://secure-a.vimeocdn.com/ts/448/835/448835699_960.jpg" title="Banana" data-gallery>
        <img src="https://farm1.static.flickr.com/346/20252597742_1a36430fb0_s.jpg" alt="Banana">
    </a>
    <a href="images/apple.jpg" title="Apple" data-gallery>
        <img src="https://farm1.static.flickr.com/355/20068041309_50b707ca56_s.jpg">
    </a>
    <a href="images/orange.jpg" title="Orange" data-gallery>
        <img src="https://farm1.static.flickr.com/455/20261408415_30f508539c_s.jpg" alt="Orange">
    </a>
</div>




  <form class="form-signin" role="form"  ng-submit="login()">

    <h1 class="form-signin-heading text-muted">{{appCliente}}</h1>

      <input type="text" class="form-control input-sm chat-input" placeholder="nombre de usuario"  ng-model="credentials.username" required autofocus>
      <input type="password" class="form-control input-sm chat-input" placeholder="Contraseña" ng-model="credentials.password"  ng-enter="login()"  required>

            <div class="wrapper">
            <span class="group-btn">     
                <a class="btn btn-primary btn-md" ng-click="login()">entrar <i class="fa fa-sign-in"></i></a>
            </span>
            </div>
  </form>